<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="referer" content="no-referer">
    <title>Список файлов</title>
</head>
<body>
    <h1>Список файлов</h1>

    <form action="" method="GET">
        <label for="filetype">Выберите тип файлов:</label>
        <select name="filetype" id="filetype">
            <option value="all">Все файлы</option>
            <option value="documents>">Только документы</option>
            <option value="images">Только изображения</option>
        </select>
        <input type="submit" value="Применить фильтр">
    </form>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('download', file_name=file.name, file_path=file.path, public_key=public_key) }}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/">Назад</a>
</body>
</html>